header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.hide {
  display: none;
}

body {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
}

.content #quiz {
  max-width: 60%;
}

button {
  display: inline-block;
}
