:root {
  --lPink: #ffd7d7;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--lPink);
  border-radius: 10px;
}
header div {
  padding: 20px;
}

.hide {
  display: none;
}

body {
  display: block;
  font-family: "Arial Rounded MT Bold";
  max-width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 20px;
  padding: 5%;
}

button {
  display: block;
  font-family: "Arial Rounded MT Bold";
  padding: 10px 20px;
  margin: 5px;
  background-color: var(--lPink);
  border-radius: 5px;
  border-style: outset;
}

button:hover {
  cursor: pointer;
}

#question {
  font-size: 150%;
  margin: 10px;
  padding: 1%;
}

#startButton {
  font-size: 70px;
  background-color: var(--lPink);
  border-radius: 10px;
  border-style: outset;
  color: #e9609b;
}

.choices {
  display: flex;
  flex-direction: column;
}

img {
  max-height: 60px;
}

.choices button {
  margin-left: 40px;
}

.results h1 {
  color: #e9609b;
  text-align: center;
}

.results h2 {
  color: #e9609b;
}

#timer h2 {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.highScoreBox {
  display: flex;
  flex-direction: column;
  background-color: var(--lPink);
  padding: 5%;
  border-radius: 10px;
  margin: 1%;
}

.endGameScreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
}

.highScoreBox button {
  background-color: #e9609b;
  color: white;
  margin: 5%;
}

.highScoreBox label {
  margin: 5% 0 5% 0;
}

.highScoreBox h1 {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 13%;
  color: #e9609b;
  border-radius: 10px;
}

#highScoreList {
  list-style-type: none !important;
}

.hs-list-item {
  color: #e9609b;
  font-size: 25px;
  padding-bottom: 6%;
}
